.features {
  display: flex;
  flex-direction: column; /* Stack multiple feature sections vertically */
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  width: 100%;
}

.features-wrapper {
  width: 80%;
  display: flex;
  flex-direction: row; /* Default horizontal layout */
  align-items: center;
  justify-content: space-between;
  padding: 5rem 0;
}



.features-left {
  width: 45%;
}

.features-subtitle {
  color: #00ffb2;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
}

.features-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 0.9;
  margin-bottom: 24px;
}

.features-description {
  font-size: 16px;
  color: #ccc;
  line-height: 1.6;
  margin-bottom: 40px;
}

.features-btn {
  background: #3DFF90;
  color: #000;
  font-weight: 600;
  padding: 14px 32px;
  border: none;
  border-radius: 32px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.features-right {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-video {
  width: 100%;
  max-width: 600px;
  border-radius: 16px;
  border: 0.1px solid rgba(90, 90, 90, 0.493);
}
