.features {
  display: flex;
  flex-direction: column; /* Stack multiple feature sections vertically */
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  width: 100%;
}

.features-wrapper {
  width: 80%;
  display: flex;
  flex-direction: row; /* Default horizontal layout */
  align-items: center;
  /* justify-content: space-between; */
  justify-content: space-around;
  padding: 5rem 0;
}

/* .features-wrapper.reverse {
  flex-direction: row-reverse;
} */
.features-left {
  width: 30%;
  position: relative;
  padding: 2rem;
  z-index: 1;
}

.features-left::before,
.features-left::after {
  content: "";
  position: absolute;
  aspect-ratio: 1 / 1; /* Maintain square */
  width: 15%; /* Responsive size */
  background-image: url('../../assets/left_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity:0.8;
  z-index: 0;
}

.features-left::before {
  top: 0;
  left: 0;
}

.features-left::after {
  bottom: 0;
  right: 0;
}

.features-left > * {
  position: relative;
  z-index: 2; /* Keep content above background images */
}



/* .features-wrapper.reverse {
  flex-direction: row-reverse;
} */


.features-subtitle {
  color: #00ffb2;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
}

.features-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 0.9;
  margin-bottom: 24px;
}

.features-description {
  font-size: 16px;
  color: #ccc;
  line-height: 1.6;
  margin-bottom: 40px;
}

.features-btn {
  background: #3DFF90;
  color: #000;
  font-weight: 600;
  padding: 14px 32px;
  border: none;
  border-radius: 32px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.features-right {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-video {
  width: 100%;
  max-width: none;
  border-radius: 16px;
  border: 0.1px solid rgba(90, 90, 90, 0.493);
}
