html,
body {
  scroll-behavior: auto;
  overflow-x: hidden;
  overflow-y: scroll;

  /* Hide scrollbar for all browsers */
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE and Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

#smooth-wrapper {
  height: 100%;
  overflow: hidden;
}
#smooth-content {
  will-change: transform;
}


html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}


html {
  scroll-behavior: smooth;
}


.dashboard-container {
  /* height: 100%; */
  width: 100%;
  display: flex;
  background: linear-gradient(to bottom right, #0b2918, #000);
  height: 100vh;
}

.split {
  height: 100%;
  background: linear-gradient(to bottom right, #0b2918, #000);
  width: 100%;
}